@model ModelViewBrigade

@{
    ViewData["Url"] = "http://www.espsantafedeantioquia.co/brigadas/" + Model.UrlMaster;
    ViewData["Title"] = Model.NameMaster;
    ViewData["Coverpage"] = "http://www.espsantafedeantioquia.co/brigade/" + Model.CoverPage;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item"><a href="~/brigadas">Brigadas</a></li>
                @if (ViewBag.detail)
                {
                    <li class="breadcrumb-item"><a asp-controller="brigades" asp-action="index">Listado General</a></li>
                }
                <li class="breadcrumb-item active" aria-current="page">@Model.NameMaster</li>
            </ol>
        </nav>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <section>

                    <div class="col-lg-12">

                        <div class="container">
                            <div class="row justify-content-md-center bg-primary-light" style="width:100%">
                                <img src="~/images/brigade/@Model.CoverPage"
                                     style="height:300px !important"
                                     class="img-fluid" />
                            </div>
                            <br />
                            <h3 class="text-center">
                                @Html.DisplayFor(model => model.NameMaster)
                            </h3>
                            
                            <p class="text-center text-capitalize">@Model.DateBrigade</p>
                            @Html.Raw(Model.Description)
                            <br />

                            <small>
                                Autor: @Model.Author
                                <br />
                                Fecha de creación: @Model.DateCreate
                            </small>
                            <br />

                            <!-- Your share button code -->
                            <div class="fb-share-button"
                                 data-href="http://www.espsantafedeantioquia.co/brigadas/@Model.UrlMaster"
                                 data-layout="button_count">
                            </div>
                        </div>

                    </div>


                </section>
            </div>
        </div>
    </div>
</div>