@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ModelViewDocument>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Url"] = "http://www.espsantafedeantioquia.co/brigadas";
    ViewData["Title"] = "Documentos legales";
    ViewData["Coverpage"] = "http://www.espsantafedeantioquia.co/images/logo-coverpage.jpg";
}


<div class="site-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Documentos legales</li>
            </ol>
        </nav>

        @if (SignInManager.IsSignedIn(User)
         && User.IsInRole("Admin")
         && User.IsInRole("SuperAdmin"))
        {
            <a asp-controller="products" asp-action="create">
                <div class="alert item-add" role="alert">
                    En esta sección puedes agregar una item nuevo
                </div>
            </a>
        }

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-6 mb-4">
                    <a href="~/documentos-legales/@item.UrlName">
                        <div class="symptom d-flex">
                            <div class="img">
                                <img src="~/images/iconos/i-pdf.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                @if (item.Name.Length >= 30)
                                {
                                    <h3>@item.Name.Substring(0, 30)...</h3>
                                }
                                else
                                {
                                    <h3>@item.Name</h3>
                                }


                                @if (item.NameProyect.Length >= 40)
                                {
                                    <p>@item.NameProyect.Substring(0, 40)...</p>
                                }
                                else
                                {
                                    <p>@item.NameProyect</p>
                                }
                                <p><span>Fecha de publicación: @item.CreateDate</span></p>
                                <p><span>Número de archivos adjuntados: @item.FileDocument.Count() pdf</span></p>
                            </div>
                        </div>
                    </a>
                </div>
            }


        </div>
        <br />
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="note row">
                    <partial name="_BusinessObjective" />
                </div>
            </div>
        </div>

    </div>
</div>
