@model ModelViewProduct

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item"><a href="~/convocatorias">Convocatorias</a></li>
                @if (ViewBag.Admin)
                {
                    <li class="breadcrumb-item"><a asp-controller="brigades" asp-action="index">Listado General</a></li>
                }
                <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
            </ol>
        </nav>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <section>

                    <div class="col-lg-12">

                        <div class="container">
                            <h3 class="text-center">
                                @Html.DisplayFor(model => model.Name)
                            </h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><h6 style="color: #0083ad;">Fecha de creación. @Model.DateCreate</h6></li>
                                </ol>
                            </nav>
                            @Html.Raw(Model.Description)
                            <br />

                        </div>

                    </div>

                    @if (ViewBag.Admin)
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>
                    }

                </section>
            </div>
        </div>
    </div>
</div>
