@model IEnumerable<ModelViewProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item"><a href="~/noticias">Noticias</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listado General</li>
            </ol>
        </nav>
        <p>
            <a class="btn btn-secondary btn-block" asp-action="Create">Crear un nuevo registro</a>
        </p>
    </div>

    <div class="container bg-primary-light">

        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Icono)
                    </th>
                    <th width="70%">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/images/iconos/@item.Icono" width="50"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-info p-2" asp-action="Details" asp-route-id="@item.ProductId"><span><img src="~/images/iconos/view.svg" width="25" /></span></a> |
                            <a class="btn btn-dark p-2" asp-action="Delete" asp-route-id="@item.ProductId"><span><img src="~/images/iconos/delete.svg" width="25" /></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
