@model ModelViewNacionLicitante

@{ ViewData["Title"] = Model.NameMaster; }

@if (!Model.CoverPage.Any())
{
    <!--? Hero Start -->
    <div class="slider-area">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>Nuestros Servicios</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <br />
}


<div class="about-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="feature-img">
                <img class="img-fluid" src="~/images/nacionLicitante/@Model.CoverPage" alt="@Model.NameMaster">
            </div>
            <div class="blog_details">
                <h2 style="color: #2d2d2d;">
                    @Model.NameMaster
                </h2>
                <ul class="blog-info-link mt-3 mb-4">
                    <li><i class="far fa-calendar-alt"></i> Fecha de publicación: @Model.DateCreate</li>
                </ul>

                @Html.Raw(Model.Description)

            </div>
        </div>
    </div>
</div>

@if (ViewBag.detail)
{
    <div class="container">
        <div>
            <a class="genric-btn warning btn-block m-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="genric-btn primary btn-block m-2" asp-action="Index">Regresar</a>
        </div>
    </div>
}
