@model IEnumerable<ModelViewNacionLicitante>

@{
    ViewData["Title"] = "Listado";
}
    <div class="site-section">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="~/convocatorias">Convocatorias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listado General</li>
                </ol>
            </nav>
            <p>
                <a class="btn btn-secondary btn-block" asp-action="Create">Crear un nuevo registro</a>
            </p>
        </div>

        <div class="container bg-primary-light">

            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NameMaster)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Statud)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateUpdate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameMaster)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Statud)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdate)
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span><img src="~/images/iconos/edit.svg" width="30"/></span></a> |
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><span><img src="~/images/iconos/view.svg" width="30" /></span></a> |
                                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id"><span><img src="~/images/iconos/delete.svg" width="30" /></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>