@model ModelViewPQRSD

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Inicio</a></li>
                <li class="breadcrumb-item"><a href="~/pqrsd">PQRSD</a></li>
                <li class="breadcrumb-item"><a asp-action="index">Volver al listado</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.PQRSDID</li>
            </ol>
        </nav>
        <div>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PQRSDID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PQRSDID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PQRSDName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PQRSDName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NamePerson)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NamePerson)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(Model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateCreate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateCreate)
                    </dd>

                </dl>

            </div>

        </div>


        <form asp-action="Delete">
            <input type="hidden" asp-for="PQRSDID" />
            <input type="submit" value="Delete" class="btn btn-danger btn-block" />
        </form>

    </div>
</div>


