@model IEnumerable<model.PQRSD>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQRSDName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSotypeOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnswered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQRSDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSotypeOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnswered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PQRSDID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PQRSDID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PQRSDID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
